<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudongzhao.server.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.sudongzhao.server.pojo.Employee">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="idCard" property="idCard" />
        <result column="wedlock" property="wedlock" />
        <result column="nationId" property="nationId" />
        <result column="nativePlace" property="nationPlace" />
        <result column="politicId" property="politicId" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="departmentId" property="departmentId" />
        <result column="jobLevelId" property="jobLevelId" />
        <result column="posId" property="posId" />
        <result column="engageForm" property="engageForm" />
        <result column="tiptopDegree" property="tiptopDegree" />
        <result column="specialty" property="specialty" />
        <result column="school" property="school" />
        <result column="beginDate" property="beginDate" />
        <result column="workState" property="workState" />
        <result column="workID" property="workId" />
        <result column="contractTerm" property="contractTerm" />
        <result column="conversionTime" property="conversionTime" />
        <result column="notWorkDate" property="notWorkTract" />
        <result column="beginContract" property="beginContract" />
        <result column="endContract" property="endContract" />
        <result column="workAge" property="workAge" />
        <result column="salaryId" property="salaryId" />
    </resultMap>

<!--    <resultMap id="EmployeeInfo" type="com.sudongzhao.server.pojo.Employee" extends="BaseResultMap">-->
<!--        <association property="nation" javaType="com.sudongzhao.server.pojo.Nation">-->
<!--            <id column="nid" property="id"/>-->
<!--            <result column="nname" property="name"/>-->
<!--        </association>-->
<!--        <association property="politicsStatus"  javaType="com.sudongzhao.server.pojo.PoliticsStatus">-->
<!--            <id column="psid" property="id"/>-->
<!--            <result column="psname" property="name"/>-->
<!--        </association>-->
<!--        <association property="department"  javaType="com.sudongzhao.server.pojo.Department">-->
<!--            <id column="did" property="id"/>-->
<!--            <result column="dname" property="name"/>-->
<!--        </association>-->
<!--        <association property="joblevel"  javaType="com.sudongzhao.server.pojo.Joblevel">-->
<!--            <id column="jid" property="id"/>-->
<!--            <result column="jname" property="name"/>-->
<!--        </association>-->
<!--        <association property="position" javaType="com.sudongzhao.server.pojo.Position">-->
<!--            <id column="pid" property="id"/>-->
<!--            <result column="pname" property="name"/>-->
<!--        </association>-->
<!--    </resultMap>-->

    <select id="getEmployeeByPage" resultMap="EmployeeInfo">
        select
            e.*,
            n.id as nid,
            n.name as nname,
            ps.id as psid,
            ps.name as psname,
            d.id as did,
            d.name as dname,
            j.id as jid,
            j.name as jname,
            p.id as pid,
            p.name as pname
        from
            t_employee e,
            t_nation n,
            t_politics_status ps,
            t_department d,
            t_joblevel j,
            t_position p
        where
            e.nationId=n.id
            and e.politicId=ps.id
            and e.departmentId=d.id
            and e.jobLevelId=j.id
            and e.posId=p.id
            <if test="null !=employee.name and ''!=employee.name">
                and e.name like CONCAT('%',#{employee.name},'%')
            </if>
            <if test="null !=employee.politicId">
                and e.politicId=#{employee.politicId}
            </if>
            <if test="null !=employee.nationId">
                and e.nationId=#{employee.nationId}
            </if>
            <if test="null !=employee.jobLevelId">
                and e.jobLevelId=#{employee.jobLevelId}
            </if>
            <if test="null !=employee.posId">
                and e.posId=#{employee.posId}
            </if>
             <if test="null!=employee.engageForm and ''!= employee.engageForm">
                AND e.engageForm =#{employee.engageForm}
            </if>
            <if test="null!=employee.departmentId">
                AND e.departmentId =#{employee.departmentId}
            </if>
            <if test="null !=beginDateScope and 2==beginDateScope.length">
                and e.beginDate between #{beginDateScope[0]} and #{beginDateScope[1]}
            </if>
    </select>


    <!--不是collection集合了，是对象，要用association-->
    <resultMap id="EmployeeInfo" type="com.sudongzhao.server.pojo.Employee" extends="BaseResultMap">
        <association property="nation"  javaType="com.sudongzhao.server.pojo.Nation">
            <id column="nid" property="id"/>
            <result column="nname" property="name"/>
        </association>
        <association property="politicsStatus"  javaType="com.sudongzhao.server.pojo.PoliticsStatus">
            <id column="psid" property="id"/>
            <result column="psname" property="name"/>
        </association>
        <association property="department"  javaType="com.sudongzhao.server.pojo.Department">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
        </association>
        <association property="joblevel"  javaType="com.sudongzhao.server.pojo.Joblevel">
            <id column="jid" property="id"/>
            <result column="jname" property="name"/>
        </association>
        <association property="position" javaType="com.sudongzhao.server.pojo.Position">
            <id column="pid" property="id"/>
            <result column="pname" property="name"/>
        </association>
    </resultMap>

    <select id="getEmployee"  resultMap="EmployeeInfo">
        SELECT
        e.*,
        n.id AS nid,
        n.`name` AS nname,
        ps.id AS psid,
        ps.`name` AS psname,
        d.id AS did,
        d.`name` AS dname,
        j.id AS jid,
        j.`name` AS jname,
        p.id AS pid,
        p.`name` AS pname
        FROM
        t_employee e,
        t_nation n,
        t_politics_status ps,
        t_department d,
        t_joblevel j,
        t_position p
        WHERE
        e.nationId = n.id
        AND e.politicId = ps.id
        AND e.departmentId = d.id
        AND e.jobLevelId = j.id
        AND e.posId = p.id
        <if test="null != eid">
            and e.id=#{eid}
        </if>
        order by
        e.id
    </select>
</mapper>